@import "https://fonts.googleapis.com/css2?family=Ubuntu";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Ubuntu", sans-serif;
}

.sm {
    font-size: xx-small;
}

.container {
    display: grid;
    grid-template-columns: 1;
}

.header {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header-left {
    color: white;
    text-transform: uppercase;
}

.header-left a {
    text-decoration: none;
    color: white;
}

.header-left a:hover {
    color: #dddddd;
}

.header-right img {
    width: 70px;
    height: 40px;
}

.content {
    background-color: #dddddd;
    display: grid;
    grid-template-columns: 1;
    padding: 10px;
}

.content-header {
    padding: 0 0 10px 0;    
}

.content-header a {
    color: black;
    text-decoration: none;
}

.content-header a:hover {
    color: whitesmoke;
}

.content-footer {
    padding: 10px 0 0 0 ;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0 35px 10px 10px;
}

.login-form-object {
    padding: 5px;
}

input[type=text],[type=password] , select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
}

th {
    color: white;
    background-color: black;
}

td, th {
    border: 1px solid black;
    padding: 7px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgb(214, 214, 214);
}

tr:nth-child(odd) {
    background-color: white;
}

.delbtn {
    color: white;
    background-color: #f44336;
    padding: 5px 5px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: small;
    text-decoration: none;
    display: inline-block;
}

.delbtn:hover {
    background-color: #e03e32;
}

.editbtn {
    color: white;
    background-color: #0033cc;
    padding: 5px 5px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: small;
    text-decoration: none;
    display: inline-block;
}

.editbtn:hover {
    background-color: #002699;
}

.btn1 {
    color: white;
    background-color: #4CAF50;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: small;
    text-decoration: none;
    display: inline-block;
}

.btn1:hover {
    background-color: #45a049;
}

.btn2 {
    color: white;
    background-color: #008CBA;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: small;
    text-decoration: none;
    display: inline-block;
}

.btn2:hover {
    background-color: #0080aa;
}

.footer {
    background-color:rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: white;
}

.logout input[type=submit] {
    margin-top: 5px;
    background-color: #dddddd;
    color: #f44336;
    padding: 5px 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 80px;
    text-align: center;
  }
  
 .logout input[type=submit]:hover {
    background-color: rgb(210, 210, 210);
  }