<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{/style.css}">
    <title>Add new employee</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-left">
                <a th:href="@{/}">
                    <p>B IT</p>
                    <p class="sm">Best IT solutions!</p>
                </a>
            </div>
            <div class="header-right">
               <img src="/logo.png" alt="Here comes LOGO"> 
            </div>            
        </div>

        <div class="content-container">
            <div class="content">
                <div class="content-header">
                    <p>Placeholder text for user and logoff</p>
                    <br>
                    <a th:href="@{/}">&larr; Back</a>
                </div>
                <form class="form-container" th:object="${employee}" th:action="@{savee}" action="#" method="post">
                    
                    <div class="form-object">
                        <label for="fname">First name</label>
                        <input type="text" id="fname" th:field="*{fname}">
                    </div>

                    <div class="form-object">
                        <label for="lname">Last name</label>
                        <input type="text" id="lname" th:field="*{lname}">
                    </div>

                    <div class="form-object">
                        <label for="email">Email</label>
                        <input type="text" id="email" th:field="*{email}">
                    </div>

                    <div class="form-object">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" th:field="*{phone}">
                    </div>
                    <div class="content-footer">
                        <input type="submit" value="Submit">
                    </div>
                </form>                    
            </div>
        </div>

        <div class="footer">
            &#169; Best IT solutions 2020
        </div>
    </div>
</body>
</html>