<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{/style.css}">
    <title>Assetlist</title>
</head>
<body>
    <div class="container">
        <div class="header">

        </div>

        <div class="content-container">
            <div class="content">
                <h2>This is empty page for now</h2>
            </div>
        </div>

        <div class="footer">

        </div>
    </div>
</body>
</html>