<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{/style.css}">
    <title>Assetlist</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-left">
                <a th:href="@{/}">
                    <p>B IT</p>
                    <p class="sm">Best IT solutions</p>
                </a>
            </div>
            <div class="header-right">
                <img src="/logo.png" alt="Here comes LOGO">
            </div>            
        </div>

        <div class="content-container">
            <div class="content">
                <div class="content-header">
                    <p th:inline="text">Logged in as: [[${#httpServletRequest.remoteUser}]]</p>
                    <form th:action="@{/logout}" method="post">
                    <div class="logout"><input type="submit" value="Log Out"/></div>
                    </form>
                        <br>
                    <p>IT-assets</p>
                </div>
                <table>
                    <tr>
                        <th>Model</th>
                        <th>Brand</th>
                        <th>Serial</th>
                        <th>Category</th>
                        <th>Employee</th>
                        <th sec:authorize="hasAuthority('ADMIN')"></th>
                    </tr>

                    <tbody>
                        <tr th:each="asset : ${assets}">
                            <td th:text="${asset.model}"></td>
                            <td th:text="${asset.brand}"></td>
                            <td th:text="${asset.serial}"></td>
                            <td th:text="${asset.category.name}"></td>
                            <td th:text="${asset.employee.fname} + ' ' + ${asset.employee.lname}"></td>
                            <td sec:authorize="hasAuthority('ADMIN')"><a sec:authorize="hasAuthority('ADMIN')" class="delbtn" th:href="@{/delete/{id}(id=${asset.id})}">Delete</a>
                                <a sec:authorize="hasAuthority('ADMIN')" class="editbtn" th:href="@{edit/{id}(id=${asset.id})}">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="content-footer">
                    <a sec:authorize="hasAuthority('ADMIN')" class="btn1" href="/add">Add new asset</a>
                    <a sec:authorize="hasAnyAuthority('ADMIN', 'HR')" class="btn2" href="/new">Add new Employee</a>
                </div>
            </div>
        </div>

        <div class="footer">
            &#169; Best IT solutions 2020
        </div>
    </div>
</body>
</html>